*.cs linguist-generated=true
*.shader linguist-generated=true
*.cginc linguist-generated=true
*.hlsl linguist-generated=true
*.compute linguist-generated=true

ShooterGame/Scripts/** linguist-generated=false
ShooterGame/Editor/** linguist-generated=false
